#Generate using python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET_KEY=example_secret_key
COOKIE_HTTP_ONLY=false #false for dev true for prod
COOKIE_SECURE=false #false for dev true for prod

FRONTEND_URL=http://localhost:5173